﻿@model Web_Programlama_Dersi_Proje_Ödevi.Models.User

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.AlimTarihi
        </th>
        <th>
            @Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.TeslimTarihi
        </th>
        <th>
            @Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.AracModel
        </th>
        <th>
            @Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.KullanıcıAdı
        </th>
    </tr>

@foreach (var item in Model.Sepet) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SepetAlimTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SepetTeslimTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Arac.AracModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink(Web_Programlama_Dersi_Proje_Ödevi.Resources.hometext.SepettenCıkar, "Delete", new { id = item.SepetID })
        </td>
    </tr>
}

</table>
